mat-toolbar {
    height: 50px; 
    min-height: 50px;
  }

.spacer {
    flex: 1 1 auto;
}

.sidenav-title{
    font-family: 'Franklin Gothic Medium', Arial, sans-serif;
} 

.sidenav-container {
  height: 100%;
  position: relative;
}

.sidenav {
  width: 250px;
}

.user-item {
  cursor: pointer;
}
  
/* Remove shadow from the mat-expansion-panel */
.mat-expansion-panel {
    box-shadow: none !important;
  }
  
  /* Remove shadow from the mat-expansion-panel-header */
  .mat-expansion-panel-header {
    box-shadow: none !important;
  }
  
  /* Optional: Remove any shadow from the expanded content as well */
  .mat-expansion-panel-content {
    box-shadow: none !important;
  }
  
  .aligned-icon {
    vertical-align: middle;
    margin-right: 5px;
  }


  .logout-button {
    margin: 10px;
    position: absolute;
    bottom: 0;
    width: 90%;
    display: flex;
    justify-content: center; 
    align-items: left;
    padding: 10px;
    cursor: pointer; 
  }
  
  .logout-button mat-icon {
    margin-left: 8px; 
  }
  
  .logout-button:hover {
    background-color: lightgrey; 
  }
  