<div class="words-container"> 
    <div class="words-title">
        <div class="star">✨</div>
        <div class="words-title-text">Choose a word for your<br> bitch-ass opponent</div>
        <div class="star">✨</div>
    </div>
    <div class="row">
        <mat-nav-list>
            <div class="word-container">
                <div 
                class="word"
                *ngFor="let word of words"
                (click)="selectWord(word)"
                [class.selected]="selectedWord === word">
                {{ word.word }}
            </div>
            </div>
            <mat-divider></mat-divider>
        </mat-nav-list>
    </div>
</div>
